APP_NAME="Fazenda Macaybas"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=pt_BR
APP_FAKER_LOCALE=pt_BR
APP_TIMEZONE=America/Sao_Paulo

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=macaybas_local
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=public
QUEUE_CONNECTION=database

CACHE_STORE=file
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USERNAME=noreply@fazendamacaybas.com.br
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="noreply@fazendamacaybas.com.br"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"

# Admin Master inicial (usado pelo seeder no primeiro deploy)
ADMIN_MASTER_NAME="Admin Master"
ADMIN_MASTER_EMAIL="admin@fazendamacaybas.com.br"
ADMIN_MASTER_PASSWORD="TrocarNoPrimeiroLogin@2026"

# Dono da Fazenda (seeder do 1º deploy)
DONO_FAZENDA_NAME="Dono da Fazenda"
DONO_FAZENDA_EMAIL="dono@fazendamacaybas.com.br"
DONO_FAZENDA_PASSWORD="MudarNoPrimeiroLogin@2026"
